.container {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.terminal-container {
  flex: 1;
  height: 100%;
  border-right: 1px solid #394B59;
  background-color: #1e1e1e;
  display: flex;
  padding: 4px;
}

.terminal-container > div {
  flex: 1;
}

.terminal-container .xterm {
  height: 100%;
}

.terminal-container .xterm-viewport {
  overflow-y: auto !important;
}

.helper-container {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: start;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
}

.app-container {
  display: flex;
  height: 100vh;
  background-color: #293742;
}

.chat-container {
  flex: 1;
  height: 100%;
  background-color: #293742;
}